.leftBlock {
  border-right: 2px black solid;
}

.rightBlock {
  height: 100%;
  position: relative;
}

.sliderBlock {
  display: flex;
  position: relative;
  padding: .1rem;
  justify-content: center;
  align-items: center;
}

.textBlock {
  padding: .1rem;
  min-width: 180px;
  flex: 1 1 auto;
  line-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
