.thinXScroll {
  overflow-x: scroll;
  overflow-y: hidden;
}

.thinXScroll::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  border: 6.5px solid transparent;
  border-left-width: 0;
  border-right-width: 0;
  background-color: #d6d6d6;
  background-clip: padding-box;
  cursor: pointer;
  transition: border 0.3s ease;

  @media (max-width: 175em) {
    border: 7px solid transparent;
  }
}

.thinXScroll::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #7c7c7c;
  border: 6.5px solid transparent;
  border-left-width: 0;
  border-right-width: 0;
  background-clip: padding-box;
}

.thinXScroll::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: 1d1d1d;
}

.thinYScroll {
}

.thinYScroll::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  border: 6px solid transparent;
  border-top-width: 7px;
  border-bottom-width: 7px;
  background-color: #D6D6D6;
  background-clip: padding-box;
  cursor: pointer;

  @media (max-width: 175em) {
    border: 6.5px solid transparent;
  }
}

/* Устанавливаем стиль для "бегунка" */
.thinYScroll::-webkit-scrollbar-thumb {
  min-height: 3rem;
  cursor: pointer;
  background-color: #7c7c7c;
  border: 5px solid transparent;
  border-top-width: 6px;
  border-bottom-width: 6px;
  background-clip: padding-box;

  @media (max-width: 175em) {
    border: 6px solid transparent;
  }
}

.thinYScroll::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #1d1d1d;
}
