.switchWrapper {
  width: 30px;
  height: 10px;
  display: inline-block;
  position: relative;
}

.switchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;

  &.labelRight {
    flex-direction: row;
  }

  &.labelBottom {
    flex-direction: column;
  }
}

.switchText {
  font-size: 12px;
  cursor: pointer;
}

.switchInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

  &:checked + .switchLabel {
    background-color: var(--bs-danger);
    justify-content: flex-end;
    border: none;
  }
}

.switchLabel {
  position: absolute;
  user-select: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  border: 1px solid var(--bs-gray-800);

  .switchHandle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 4px;
    transition: transform 0.3s ease;
    border: 1px solid var(--bs-gray-800);
  }
}

.switchInput:checked + .switchLabel .switchHandle {
  transform: translateX(2px);
}

.switchInput + .switchLabel .switchHandle {
  transform: translateX(-2px);
}