.pageContainer {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 99vh;
  background: var(--bs-light);
}

.pageContent {
  height: calc(100vh - 62px);
  width: 100vw;
}

.stickyWrapper {
  position: sticky;
  top: -2px;
}

.borderBottom {
  border-bottom: black solid 2px !important;
}

.employeeList {
  max-height: calc(100vh - 72px);
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.tableData {
  max-width: 100%;

  thead {
    position: sticky;
    top: -2px;
    background-color: white !important;
    z-index: 10;
  }
}

.tableData thead::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: black solid 2px !important;
}
