
/* Устанавливаем ширину скроллбара */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Устанавливаем стиль для "трека" (полосы, по которой движется "бегунок") */
::-webkit-scrollbar-track {
    //background: #252525;
}

/* Устанавливаем стиль для "бегунка" */
::-webkit-scrollbar-thumb {
    background: var(--bs-gray-600);
    border-radius: 4px;
}

/* Изменяем цвет "бегунка" при наведении */
::-webkit-scrollbar-thumb:hover {
    background: var(--bs-gray-900);
}
