.pageContainer {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: var(--bs-light);
}

.pageContent {
  height: calc(100vh - 60px);
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.sliderBlock {
  width: 320px;
  height: 320px;
}

.textBlock {
  min-width: 300px;
}
