//html {
//  min-width: 360px;
//  overflow: hidden;
//}


@font-face {
  font-family: 'Verdana';
  font-style: normal;
  src: url('Verdana.ttf') format('truetype');
}

@font-face {
  font-family: 'Motserrat-Light';
  font-style: normal;
  src: url('Montserrat-Light.ttf') format('truetype');
}

$font-family-sans-serif: "Verdana", sans-serif;
$font-family-monospace: "Motserrat-Light", monospace;

@import "~bootstrap/scss/bootstrap";


.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 100ms ease-in;
}

.scaled {
  transform: scale(0.95);
  animation: 600ms scaled ease-in-out;
}

@keyframes scaled {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.95);
  }
}

a {
  text-decoration: none;
}
