html {
  //min-width: 360px;
  //overflow: hidden;
}

@import "scrollbar";
@import "input-range";

@font-face {
  font-family: 'Verdana';
  font-style: normal;
  src: url('Verdana.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Light';
  font-style: normal;
  //font-weight: 400;
  src: url('Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  //font-weight: 700;
  src: url('Montserrat-Bold.ttf') format('truetype');
}

$font-family-sans-serif: "Verdana", sans-serif;
$font-family-monospace: "Motserrat", monospace;

* {
  font-family: 'Montserrat-Light', sans-serif;
  font-weight: bold;
}

b, strong, .fw-bold {
  font-family: 'Montserrat-Bold', sans-serif;
}

@import "bootstrap/scss/bootstrap";


[data-bs-theme=dark] {
  --bs-tertiary-bg-rgb: 00, 00, 00;
  --bs-body-bg: #000000;
}

.modal .modal-xl {
  --bs-modal-width: 90vw;
}

.scaled {
  opacity: 0.8;
  transform: scale(0.95);
  animation: 200ms scaled, opacity ease-in-out;
}

@keyframes scaled {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    opacity: 0.8;
    transform: scale(0.95);
  }
}

.unscaled {
  //transform: scale(1);
  //opacity: 1;
  //animation: 200ms unscaled, opacity ease-out;
}

@keyframes unscaled {
  from {
    transform: scale(0.95);
    opacity: 0.8;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

.fs-7 {
  font-size: 14px;
}
