
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px; /* Установите ширину */
    height: 25px; /* Установите высоту */
    background: var(--bs-primary); /* Установите цвет */
    border-radius: 50%; /* Установите радиус для круга */
}

input[type='range']::-webkit-slider-runnable-track {
    height: 18px; /* Установите высоту трека равной высоте кружка или больше */
}

/* Mozilla Firefox */
input[type='range']::-moz-range-thumb {
    width: 25px; /* Установите ширину */
    height: 25px; /* Установите высоту */
    background: var(--bs-primary); /* Установите цвет */
    border-radius: 50%; /* Установите радиус для круга */
}

input[type='range']::-moz-range-track {
    height: 18px; /* Установите высоту трека равной высоте кружка или больше */
}
