.MainContainer {
}

.InputContainer {
  position: relative;
  border-bottom: 1px solid transparent;

  &.Active {
    color: var(--bs-black);
  }

  &:hover, &:focus, &.Active {
    border-bottom-color: var(--bs-primary);
  }

  &.Bordered {
    border-bottom-color: var(--bs-black);

    &.darkInput {
      border-bottom-color: var(--bs-light);
    }
  }

}

.InputContainer:hover .ClearBtn {
  display: flex;
}

.Label {
  position: absolute;
  color: var(--bs-secondary);
  top: 67%;
  left: 0.3rem;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  font-size: 12px;
  pointer-events: none;

  &.Active {
    top: 16px;
    left: 0;
    transform: translateY(-100%) scale(0.8);
    font-size: 12px;
  }
}

.RequiredMarker {
  color: var(--bs-danger);
}

.Input {
  background-color: transparent;
  font-weight: bold;
  height: 33px;
  width: calc(100% - 45px);
  padding: 1rem 0 0 .2rem;
  color: transparent;
  font-size: 13px;
  border: none;
  outline: none;
  transition: ease-in-out border-bottom-color 200ms;

  &:read-only {
    cursor: pointer;
  }

  &.Active {
    color: var(--bs-black);
  }

  &:hover, &:focus, &.Active {
    border: none;
  }

  &.Full {
    width: calc(100% - 25px);
  }

  &.darkInput {
    &.Active {
      color: var(--bs-light);
    }
  }
}

.InputPlaceholder {
  position: absolute;
  display: block;
  color: var(--bs-black);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: .91rem 30px 0 .2rem;

  font-size: 13px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  pointer-events: none;
  opacity: 0;

  &.Active {
    opacity: 1;
  }

  &.darkInput {
    color: var(--bs-light);

    &.Active {
      opacity: 1;
    }
  }
}

.flipActive {
  transform: rotate(180deg);
}

.DropdownIconStyle {
  transition: transform 0.2s ease-in-out;
}

.IconBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bs-black);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;

  &.darkInput {
    color: var(--bs-light);
  }

  &.DropdownBtn {
    right: -2px;
    bottom: 1px;

    &.Hide {
      display: none !important;
    }
  }

  &.ClearBtn {
    right: 21px;
    bottom: 1px;
    display: none;

    &.Hide {
      display: none !important;
    }
  }

  &:hover {
    background-color: rgba(52, 58, 64, 0.2);
  }
}

.OptionsContainer {
  font-size: 13px;
  z-index: 1200;
  min-width: 180px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 50dvh;
  overflow-y: auto;
  padding: 8px 0;

  &.darkInput {
    color: var(--bs-light);
    background-color: var(--bs-black);
    border: 1px solid #1c1c1c;
  }
}

.Option {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 6px 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #f0f0f0;

    &.darkInput {
      color: var(--bs-light);
      background-color: var(--bs-secondary-bg);
    }
  }

  &:active {
    background-color: #e0e0e0;

    &.darkInput {
      color: var(--bs-light);
      background-color: var(--bs-secondary-bg);
    }
  }

  &.Selected {
    background-color: #d0d0d0;
    padding: 6px;

    &.darkInput {
      color: var(--bs-light);
      background-color: var(--bs-secondary-bg);
    }
  }
}