.inWorkBlock {
  width: 100%;
}

.awaitBlock {
  border-left-width: 4px;
  border-left-style: solid;
}

.readyBlock {
  width: 100%;
}

.inWorkBlock,
.awaitBlock,
.readyBlock {
  display: block;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}