.inWorkBlock {
  width: 100%;
}

.awaitBlock {
  border-left-width: 4px;
  border-left-style: solid;
}


.cardWrapper {
  display: inline-block;
  height: 109px;
  padding: .25rem;
  min-width: 210px;
  border: seagreen 6px solid;
}

.readyBlock {
  width: 100%;
}

.weekBlock {
  width: 100%;
  height: 40px;
  background: yellow;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.inWorkBlock,
.awaitBlock,
.readyBlock {
  display: block;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}