.pageContainer {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: var(--bs-light);
}

.pageContent {
  height: calc(100vh - 60px);
  overflow-x: hidden;
  overflow-y: auto;
}
