.modalBackdrop {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1111;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.modalActive {
  opacity: 1;
  pointer-events: all;
}

.modalContent {
  position: relative;
  display: flex;
  border-radius: 0.25rem;
  background-color: var(--bs-gray-300);
  transform: scale(0.8);
  transition: 0.3s;
  min-width: 25dvw;
  min-height: 25dvh;
  max-width: 100dvw;
  max-height: 100dvh;
}

.modalContentActive {
  transform: scale(1);
}

.modalBtn {
  position: absolute;
  top: 4px;
  right: 6px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .5;
  background-color: rgba(0, 0, 0, .1);
  z-index: 1000;

  &:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
  }

  &:active {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
  }
}