.sliderWrapper {
  margin: 0;
  padding: .15rem;
  min-height: 104px;
  height: 104px;
  max-height: 104px;
  width: 104px;
  min-width: 104px;
  max-width: 104px;
}

.nameProjectWrapper {

}

.projectNameWrapper {
  overflow-y: auto;
  overflow-x: hidden;
  height: 48px;
  min-height: 48px;
  max-height: 48px;
}

.cardHr {
  border-width: 2px;
  border-color: var(--bs-gray);
  margin: 0 auto;
}

.mainInfo {

}

.departmentInfoBlock {
  display: flex;
  max-height: 50px;
  flex-wrap: wrap;

  overflow-y: auto;
  overflow-x: hidden;
}

.countBlock {
  min-width: 230px;
}

.countInfo {
  display: inline-block;
}