.indicator {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
}

.iconWrapper {
  font-size: 8px;
  font-weight: 1000;
}

@keyframes pulse {
    0% {
        filter: saturate(100%);
    }
    50% {
        filter: saturate(75%);
    }
    100% {
        filter: saturate(100%);
    }
}

.indicator {
    animation: pulse 3s infinite;
}