.cardCounts {
  padding: 0 0.15rem;
  flex-grow: 0;
  flex-shrink: 0;
  background: white;
}

.sliderBlock {
  display: flex;
  position: relative;
  padding: .1rem;
  justify-content: center;
  align-items: center;
}

.contentHr {
  margin: 0;
  padding: 0;
}

.nameNumberBlock {
  min-width: 180px;
  padding: 0 0.15rem;
  flex: 1 1 auto;
  line-height: 100%;
}

.productName {
  height: 55%;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 14px;
}

.numbersBlock {
  height: 45%;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 0.05rem 0.05rem 0.05rem 0;
  gap: 0.15rem;
}

.overflowWrapper {
  padding: .15rem;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  gap: 0.15rem;

  @media (min-width: 1200px) {
    padding: .15rem;
    gap: .15rem;
  }
}

.orderProjectBlock {
  padding: 0 0.15rem;
  height: 100%;
  width: 70px;
  min-width: 70px;
  max-width: 70px;
  overflow-y: auto;
  overflow-x: auto;
}

.depInfoBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 0 0.15rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.infoItem {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}